header {
  background-color: rgb(232, 232, 232);
  padding: 20px 0 20px 0;
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.part {
  display: flex;
  align-items: center;
}

.part p {
  width: 48%;
  padding-left: 70px;
  margin: 0;
  font-size: 22px;
}

.part span {
  background-color: yellow;
}

.part a {
  padding-right: 60px;
  font-size: 20px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 20px;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: rgb(189, 187, 187);
  transition: 0.25s;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: x-large;
}

section {
  display: flex;
  background-color: rgb(232, 232, 232);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text p {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  display: block;
  width: 55%;
  text-align: justify;
}

section img {
  width: 40vw;
  height: 110vh;
  object-fit: cover;
  object-position: 50% 50%;
  padding-top: 40px;
}

.greyback {
  background-color: rgb(232, 232, 232);
  width: auto;
  height: 138px;
}

.main-title {
  width: auto;
  height: 25vw;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.yellowback {
  background-color: yellow;
  grid-area: 4/1/6/5;
}

.main-title p {
  margin: 0;
  grid-area: 3/1;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  width: 40vw;
  padding: 30px 0 0 40px;
}

.vstup {
  padding: 70px 25% 30px 25%;
}

.vstup p {
  font-size: 20px;
}

.nav {
  font-family: "Poppins", sans-serif;
  padding: 0 0 10% 25%;
}

.nav p {
  font-size: 3vw;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  display: block;
  width: 70%;
  text-align: justify;
  stroke-opacity: 2em;
}

.black {
  background-color: black;
  color: white;
  border: 5px solid black;
}

.grey {
  background-color: rgb(224, 224, 224);
  border: 5px solid rgb(224, 224, 224);
}

article {
  width: auto;
  height: 80vw;
  display: grid;
  grid-template-columns: 10% 10% 20% 20% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.grey_section {
  background-color: rgb(224, 224, 224);
  grid-area: 2/2/6/8;
}

.yellow_section {
  background-color: yellow;
  grid-area: 3/7/8/9;
}

.chornovil_picture {
  grid-area: 1/6/5/13;
}

.earlylife {
  font-family: "Poppins", sans-serif;
  font-size: 6vw;
  text-align: center;
  margin-bottom: 6%;
}

.about_earlylife {
  padding: 0 10% 0 10%;
  font-size: 2vw;
}

.grey_section button {
  background-color: rgb(224, 224, 224);
  border-color: black;
  padding: 10px 30px 10px 30px;
  width: 14vw;
  height: 5vw;
  margin-left: 10%;
}

.grey_section button:hover {
  background-color: rgb(42, 42, 42);
  color: white;
  transition: 0.4s;
}

footer {
  background-color: rgb(13, 13, 13);
  width: auto;
  height: 30vw;
}

form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 25%;
  margin: 0 25% 0 25%;
  padding: 0 30px 0 30px;
}

footer p {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 3vw;
}
footer input {
  border-color: white;
  background-color: rgb(14, 14, 14);
  color: white;
  width: 51vw;
  height: 3vw;
}

footer label {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}

footer button {
  border-color: yellow;
  background-color: yellow;
  color: rgb(14, 14, 14);
  width: 50vw;
  height: 3.5vw;
  margin-top: 5px;
  font-family: italic;
  font-size: 1.5vw;
}

footer button:hover {
  background-color: rgb(13, 13, 13);
  color: white;
  border-color: rgb(13, 13, 13);
  transition: 0.4s;
}
